body{
    /*background-color: rgb(36, 36, 36) !important;*/
    height: 100vh;
    background-attachment: fixed;
    color: rgb(135, 135, 135) !important;
    font-family: 'Quicksand',sans-serif !important;
    font-size: 1em !important;
    
}
.body{
    min-height: 83vh;
}
.container-fluid{
    padding-right:0 !important;
    padding-left:0 !important;
}
#container-accueil{
    display:flex;
    align-items: center;
    justify-content: center;
}
.age{
    font-size:0.8em;
}
#menu, #nav{
    background-color: black;
}
#navbarNav{
    padding: 20px;
}
.navbar-nav{
    padding: 0 !important;
}
.identifiants{
    margin-left:30px;
    padding-top:10px !important;
    padding-bottom:10px !important;
    font-size: 1em;
    
}
.slogan{
    text-shadow: black 2px 2px 4px;
    font-size: 1.5em;
    position: relative;
    top: -15px;
}

.nav-admin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border : rgb(53, 53, 53) 1px solid;
    padding: 5vh;
    height:10vh;
    
}

.admin{
    color:rgb(240, 142, 142) !important;
    font-size: 1em;
}
.nav-admin:hover{
    background-color: rgb(176, 255, 238);
}
.nav-visiteur{
    padding:10px !important;
}
h1{
   
}

a{
   color: #FFF !important;
}

a:hover{
    color:#1abc9c !important;
    text-decoration-line: none !important;
}

.a-index{
    padding: 0 !important;
}
.caseacocher{
    align-items: baseline;
}
.text-green{
    color:#1abc9c;
}
.text-grey{
    color:grey !important;
}
.text-grey:hover{
    color:#1abc9c;
}
.text-black{
    color: black;
}
li{
    list-style-type: none;
}
#navMenu a{
    font-size:1em !important;
    padding:10px;
}
#login{
    position: absolute;
    right:3%;
    top:25%;
}
#login img{
    width: 40px;
    z-index:1;    
}
.pages{
    font-weight: bolder;
    color:#1abc9c !important;
}
.pages:hover{
    color:white !important;
}
#logo{
    color:white;
    font-weight:bold;
    font-size:1.4em;
    font-family: 'Shadows Into Light',cursive;
}

#user-name{
    color:white;
    font-weight:bold;
    font-size:1.1em;
    font-family: 'Titillium Web',sans-serif;
}
.en-tete{
    border: 1px solid grey;
    height: 50px;
}
.ligne{
    margin: 50px;
}
.bg-ligne{
    background-color: rgb(243, 243, 243);
    padding:20px;
}
.retour-categories{
    margin: 20px;
}
.description{
    color: rgb(158, 158, 158);
}
.marginCard{
    margin:10px;
}
.img-carousel{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height:600px;
}
.identifiant{
    margin-top:50px;
}
.form{
    margin-top:10px;
}
::-webkit-input-placeholder{
    font-style: italic;
    color: rgb(158, 158, 158);
    font-size: 0.9em;
}
.flash-success{
    text-align: center;
    margin:30px;
    color:rgb(255, 255, 255);
    background-color: black;
    font-size:1.3em;
}
hr{
    width: 50%;
    padding: 1px;
    background-color: rgb(158, 158, 158);
}
.titre-stage{
    font-weight: bold;
    padding:20px;
    font-size: 1.5em;
}
.valide{
    margin-left:5px;
}

.custom-file-label::after{
    content: "Parcourir" !important;
}
.bouton{
    margin:10px;
}
#appbundle_actu_date_time, #appbundle_video_date_time{
    display:none;
}
.article{
    margin: 20px;   
}
.article-titre{
    width: 100%;
}
.resume p{
    width:20vw;
}
.categories{
    font-family: 'Shadows Into Light',cursive;
}
.Titillium{
    font-family: 'Titillium Web',sans-serif;
}
.message{
    margin-right: 10px;
}
.message-contenu{
    margin-top: 30px;
}
.image-contact{
    background-image: url('../images/contact/neric_prof_de_skate.jpg');
    height:45vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
}
.top{
    margin-top: 30px;
}
.bottom{
    margin-bottom: 20px;
}
.left{
    margin-left:20px;
}
#admin-profil a{
    color:#1abc9c !important;
    font-size: 1em !important;

}
#admin-profil a:hover{
    color:white !important;
    

}
.contact{
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
    height: 10vh;
    align-items: center;
}
.contact-edit{
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
    align-items: center;
}
.contact-show{
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
    padding: 20px;
}
.article{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.text{
    margin: 20px;
}
.eleve{
    cursor: pointer;
}
.plus{
    border:2px solid white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-transform: uppercase;


}
#appbundle_contact_traite, #appbundle_inscription_valide, 
#appbundle_inscription_planche, #appbundle_inscription_materiel,
#appbundle_inscription_forfait1h, #appbundle_inscription_forfait5h,
#appbundle_inscription_forfait10h, #appbundle_inscription_forfaitAnnuel{
    
    margin-left: 15px;
}
#appbundle_inscription_planche, #appbundle_inscription_materiel,
#appbundle_inscription_forfait1h, #appbundle_inscription_forfait5h,
#appbundle_inscription_forfait10h, #appbundle_inscription_forfaitAnnuel,
#appbundle_contact_traite{
    margin-right:15px;
}
#remember_me{
    height: 25px !important;
    width: 25px !important;
}
.cache{
    display:none;
}
.show{
    display:block;
}
.hidden{
    display:none;
}
.border{
    border-radius:15px;
    padding:20px;
}
.border-form{
    padding:20px;
}
.padding{
    padding:5px;
}
.border-green{
    border:#1abc9c solid 2px!important;
    border-radius:15px;
    padding:20px;
    font-size:1.2em;
    
}
.bg-green{
    background-color:#1abc9c ;
    border-radius:5px;
    margin-top: 10px;
    padding:5px;
    /*font-size:1.2em;*/
    color:#FFF;
    
}
.bg-green-no-marging{
    background-color: #1abc9c;
    color: #FFF;
}
.img-catalogue{
    padding:0 !important;    
}
.img-foret{
    width:100vw;
    height: 50vh; 
    object-fit: cover; 
}
.img-cours{
    width:100vw;
    height: 60vh; 
    object-fit: cover;
}
.border-card{
    border:#525252 solid 2px!important;
    background-color:#6f6f6f;
    border-radius:15px;
    padding:20px;
    font-size:1.3em;
}
.grey{
    background-color: rgb(83, 83, 83);
    margin:5px;
}
.bg-black{
    background-color: rgb(0, 0, 0);
}
.black{
    background-color: rgb(0, 0, 0);
    margin:15px;
}
.cke_reset_all *{
    margin:2px !important;
}
iframe{
    width: 640px !important;
    height: 360px !important;
}
iframe p a{
    display:none !important;
}
.serigraphie-accueil{
    position:relative;
    display:flex; 
    align-items:flex-end;
    justify-content: flex-end;
    border:solid  rgb(36, 36, 36) 5px;
    height:100%;
    background-image: url('../images/serigraphie/bandeau-serigraphie.png');
    text-shadow: black 2px 2px 4px;
    background-repeat: no-repeat;
    background-size:100%;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.serigraphie-accueil:hover{
    background-size:110%;
}
.news-accueil{
    position:relative; 
    display:flex; 
    align-items:flex-end;
    justify-content: flex-end;
    border:solid rgb(36, 36, 36) 5px;
    height:100%;
    background-image: url('../images/news/actus.png');
    background-repeat: no-repeat;
    background-size:180%;
    background-position:right;
    text-shadow: black 2px 2px 4px;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.news-accueil:hover{
    background-size:190%;
}
.reseaux-accueil{
    position:relative; 
    display:flex; 
    justify-content: center;
    border:solid rgb(36, 36, 36) 5px;
    height:100%;
    background-color:rgb(36, 36, 36);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:right;
    text-shadow: black 2px 2px 4px;
    text-transform: uppercase;
    
}
.skateschool-accueil{
    position:relative; 
    display:flex; 
    align-items:flex-end;
    justify-content: flex-end;
    border:solid rgb(36, 36, 36) 5px;
    height:100%;
    background-image: url('../images/skateschool/_ALX1406.jpg');
    text-shadow: black 2px 2px 4px;
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
   
}
.skateschool-accueil:hover {
    background-size:110%;
}
.video-accueil{
    position:relative; 
    display:flex; 
    align-items:flex-end;
    justify-content: flex-end;
    border:solid  rgb(36, 36, 36) 5px;
    height:100%;
    background-image: url('../images/video/stagedurigalet.png');
    background-color:rgb(226, 226, 226);
    text-shadow: black 2px 2px 4px;
    background-repeat: no-repeat;
    background-size:100%;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    overflow: hidden;
    
}
.video-accueil:hover{
    background-size:110%;
}


.valeur-accueil{
    position:relative; 
    display:flex; 
    align-items:flex-end;
    justify-content: flex-end;
    border:solid  rgb(36, 36, 36) 5px;
    height:100%;
    background-image: url('../images/valeur/bandeau-partenaire.png');
    text-shadow: black 2px 2px 4px;
    background-repeat: no-repeat;
    background-size:100%;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
   
}
.valeur-accueil:hover{
    background-size:110%;
}
.catalogue-accueil{
    position:relative; 
    display:flex; 
    align-items:flex-end;
    justify-content: flex-end;
    border:solid  rgb(36, 36, 36) 5px;
    height:100%;
    background-image: url('../images/catalogue/catalogue.png');
    background-repeat: no-repeat;
    background-size:100%;
    text-shadow: black 2px 2px 4px;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.catalogue-accueil:hover{
    background-size:110%;
}
.titre-accueil{
    font-size: 1.5em;
    border:solid  rgb(36, 36, 36) 5px;
    height:100%;
    background-image: url('../images/valeur/bois-issue-de-foret-maitrisees.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    text-shadow: black 2px 2px 4px;
    align-items:center;
    height:100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.titre-accueil:hover{
    font-size:2em;
}

footer{
    background-color: black;
    padding:20px;
    display:flex !important;
    align-items: center;
}
.liens{
    font-size:1em;
}
.textarea{
    height: 20vh !important;
}
#reseaux-sociaux img{
    
    padding-left: 10px;
    padding-right: 10px;
}
   
.kraken{
    background-image: url('../images/serigraphie/kraken_skateboard_serigraphie.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20vh;
    height: 35vh;
    border: 3px solid white;
    margin:5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
}    
.feelethik{
    background-image: url('../images/serigraphie/personnalise_feelethik.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20vh;
    height: 35vh;
    border: 3px solid white;
    margin:5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
}           
.mira{
    background-image: url('../images/serigraphie/serigraphie_mira_skateboard.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20vh;
    height: 35vh;
    border: 3px solid white;
    margin:5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
} 
.axel{
    background-image: url('../images/serigraphie/personnalisation_axel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20vh;
    height: 35vh;
    border: 3px solid white;
    margin:5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
} 
.img-partenaire{
    max-height: 150px;
}
.inscriptions-titre{
    font-size:280%;
    font-weight:bolder;
    text-shadow: 2px 2px 3px black;
    color: #1abc9c;
}
.img-actu{
    background-position:center;
    background-size:cover;
    height:20vw;
    width:20vw;
}
.nav-footer{
    font-size: 15px;
}
.nav-footer a{
    color: grey !important;
}
.nav-footer a:hover{
    color:#1abc9c !important;
}
.nav-link, .nav-link a{
    color: grey !important;
}
.nav-link a:hover{
    color:#1abc9c !important;
}
@media screen and (max-width: 450px) {
    .footer{
        flex-direction: column;
        text-align: center;
    }
    .nav-footer{
        padding: 10px;
    }
    .liens{
        font-size: 30px !important;
    }
    .serigraphie-accueil{
        height:100%;
    }
    .news-accueil{
        height:100%;
    }
    .skateschool-accueil{
        height:100%;
    }
    .video-accueil{
        height:100%;
    }
    .valeur-accueil{
        height:100%;
    }
    .catalogue-accueil{
        height:100%;
    }
    #logo{
        font-size:2em;
    }
    .identifiant{
        margin-top:0px;
    }
    .inscriptions-titre{
        font-size:2em;
        font-weight:bolder;
    }
    .profil-inscriptions{
        font-size: 15px;
    }
    .profil-inscriptions h3{
        font-size: 23px;
    }
    .hidden-mobile{
        display: none;
    }
    #menu-admin{
        color:red;
        font-size: 1.5em;
    }
    .identifiants{
        margin: 0;
    }
    iframe{
        width: 320px !important;
        height: 180px !important;
    }
    .img-actu{
        height:80vw;
        width:80vw
    }
    .resume p{
        width:80vw;
    }
}