{% extends 'base.html.twig' %}
{% block metadescription %}<meta name="Description" content="Bordza, catalogue en ligne de la marque de skateboards éthiques et fabriqués à Bordeaux 'Bordza Skateboards'.">{% endblock %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <h2 class="bottom top categories" >- NOTRE CATALOGUE -</h2>
    </div> 
    <div class="row justify-content-center">
    {% for catalogue in catalogues | number('orderNumber') %}
        <div class="col-6 img-catalogue"><img class="img-fluid img-catalogue col-12" src="{{ asset('uploads/images/' ~ catalogue.image ) }}"></div>
    
        {% endfor %}
    </div>
    <div class="row justify-content-center bottom">
        <div class="text-center text-green col-11 col-sm-11 col-md-11 col-lg-7 col-xl-7 top">
            Toutes nos planches sont réalisées de façon artisanale. Si vous souhaitez en acquérir une il suffit de nous envoyer une demande 
            par message et de nous communiquer le modèle et le coloris choisis. Un petit délais de fabrication sera nécessaire à la réalisation de
            la planche si le modèle n'est plus en stock au moment de la demande. 
        </div>
        <div class="w-100"></div>
        <a href="{{ path('contact') }}">
            <button class="btn btn-secondary bouton top">Envoyez-nous un message</button>
        </a>
    </div>
</div>       

{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}