{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}
{% block body %}

<div class="container-fluid top">
    <div class="row justify-content-center top">
        <p class="text-center top">
            <h4 class="Titillium top text-green">Message bien envoyé merci !</h4>
            <div class="w-100"></div>
            <p class="text-green top">Nous répondrons dans les meilleurs délais.</p>
            <div class="w-100"></div>
            <h4 class="text-green categories top"><i>- Bordza -</i></h4>
        </p>
    </div>
</div>
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}
