{% extends 'base.html.twig' %}
{% block metadescription %}<meta name="Description" content="Bordza, personnalisez vos planches de skateboard avec la sérigraphie et des encres à l'eau pus respectueuses de l'environnement.">{% endblock %}

{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}
{% block body %}
<div class="container-fluid identifiant justify-content-center">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-12"><img class="img-fluid col-12" src="{{ asset('assets/images/serigraphie/bandeau-serigraphie.jpg') }}"
                    alt="serigraphie artisanale bordeaux handmade skateboard longboard">
                    </div>
                    <h1 class="categories"><b>- LA PERSONNALISATION -</b></h1>
                    <div class="w-100"></div>
                    <hr class="top bottom">
                    <div class="col-7 top bottom">
                        <p class="text-center">Si vous étes sensibles à la fabrication française de skateboard et que vous souhaitez développer
                    votre propre gamme ou vous personnaliser votre planche, nous pouvons sérigraphier nos planches de skate avec vos propres visuels, que ce soit du modèle unique
                    ou de la petite série, envoyez nous vos projets à l'adresse suivante : <a href="mailto:contact@bordza.fr"> contact@bordza.fr</a> ou remplissez le
                    <a href="#formulaire_personnalisation">formulaire en ligne</a>.</p>
                        <p class="text-center">Nous imprimons avec le procédé de la sérigraphie. Cette technique est la plus respectueuse des propriétés techniques du bois
                    et donc de la solidité de la planche car elle vient déposer une fine couche d'encre sur la feuille de bois de finition avant
                    que celle-ci ne soit mise dans le moule et pressée avec les autres couches constituant la planche.
                    Nous utilisons des essences de bois issues de fôrets maîtrisées et de l'encre à l'eau plus réspectueuse de l'environnement.</p>
                    </div>
                    <hr class="top bottom">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row justify-content-center">

                    <h2 class="categories top"><b>- Une planche à leur image -</b></h2>
                    <div class="w-100"></div>
                    <hr class="top bottom">
                    <div class="w-100"></div>
                    <div class="row justify-content-center top bottom">
                        <div class="kraken">"Kraken"</div>
                        <div class="feelethik">"Feelethik"</div>
                        <div class="mira">"Mira"</div>
                        <div class="axel">"Axel"</div>
                    </div>
                    <div class="w-100"></div>
                    <hr class="top bottom">
                </div>
            </div>
        </div>

        <!-- formulaire de contact -->
        <div class="row justify-content-center">
            <div class="col-7 text-center text-green text top bottom"><h3 class="top bottom categories">Vous souhaitez nous envoyer une demande de devis ?</h3>
                 <p>Pensez à préciser les quantités, les modèles de planches, le nombre de couleurs pour l’impression, le format
                d’impression et toute autre information nécessaire pour établir un devis le plus précis possible. </p>
                <p>Si vous avez déjà
                l’image de votre projet d’impression vous pouvez la joindre afin que nous l'étudions (en format jpg, png ou gif).</p>
            </div>
            <div class="col-10 top bottom">
                <div class="row justify-content-center" id="formulaire_personnalisation">
                {% include 'formulaire_contact.html.twig' %}
                </div>
            </div>
        </div>
        <!-- end formulaire de contact -->
    </div>
</div>


{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}