{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}
<div class="container-fluid identifiant">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-11 col-md-11 col-lg-5 col-xl-5 " style="padding:20px;">
            <div class="row justify-content-center">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username |capitalize }) }}</p>
                {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
                <p><a href="{{ path ('fos_user_profile_show') }}" class="text">-> Mon compte</a>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}

