{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<div class="container-fluid identifiant">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-11 col-md-11 col-lg-5 col-xl-5 top" style="padding:20px;">
            <pclass="text-green">{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
        </div>
    </div>
</div>
{% endblock fos_user_content %}

