{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<div class="container-fluid identifiant">
    <div class="row justify-content-center">
        <div class="col-5 border" style="padding:20px;background-color:white">
            <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
        </div>
    </div>
</div>
{% endblock fos_user_content %}

